<?xml version="1.0" encoding="ISO-8859-1"?>
<module name="customize" xmlns="link:xsd:dpml/lang/dpml-module#1.0" >

  <project name="acme-simple-clock" basedir="clock">
    <types>
      <type id="jar"/>
      <component xmlns="link:xsd:dpml/lang/dpml-component#1.0" 
           type="org.acme.clock.SimpleClock">
        <context>
          <entry key="format" value="K:mm a, z"/>
        </context>
      </component>
    </types>
    <dependencies>
      <build>
        <include ref="org/acme/acme-type-demo"/>
      </build>
      <test>
        <include ref="ant/ant-junit"/>
        <include ref="dpml/transit/dpml-transit-main"/>
      </test>
    </dependencies>
  </project>

  <project name="acme-custom-clock" basedir="custom">
    <types>
      <component xmlns="link:xsd:dpml/lang/dpml-component#1.0" 
            uri="resource:part:org/acme/customize/acme-simple-clock">
        <context>
          <entry key="format" value="h:mm a"/>
        </context>
      </component>
    </types>
    <dependencies>
      <test>
        <include ref="ant/ant-junit"/>
        <include ref="dpml/transit/dpml-transit-main"/>
        <include key="acme-simple-clock"/>
      </test>
    </dependencies>
  </project>
 
</module>
