<?xml version="1.0" encoding="ISO-8859-1"?>
<module name="db" xmlns="dpml:library">

  <properties>
    <property name="project.major.version" value="1"/>
    <property name="project.minor.version" value="0"/>
    <property name="project.micro.version" value="0"/>
  </properties>
  
  <types>
    <type id="module" alias="true"/>
  </types>

  <project file="connection/project.xml"/>
  <project file="server/project.xml"/>
  
  <!--<project file="transform/project.xml"/>-->
  <!--
  <project file="p2/project.xml"/>
  <project file="p3/project.xml"/>
  -->
  
  <module file="demo/module.xml"/>

</module>
