<?xml version="1.0" encoding="ISO-8859-1"?>
<module name="http" xmlns="dpml:library">

  <properties>
    <property name="project.major.version" value="0"/>
    <property name="project.minor.version" value="0"/>
    <property name="project.micro.version" value="0"/>
  </properties>

  <project file="spi/project.xml"/>
  <project file="impl/project.xml"/>

  <project name="osm-http-app" basedir="war">
    <types>
      <type id="jar"/>
      <type id="war" alias="true"/>
    </types>
    <dependencies>
      <runtime>
        <include ref="dpml/transit/dpml-transit-main"/>
        <include uri="artifact:jar:javax/servlet/servlet-api#2.5" tag="PUBLIC"/>
      </runtime>
    </dependencies>
  </project>

  <project file="express/project.xml"/>
  <project file="demo/project.xml"/>
  <project file="server/project.xml"/>
  <project file="test/project.xml"/>

</module>
