<?xml version="1.0" encoding="ISO-8859-1"?>
<module name="http" xmlns="dpml:library">

  <properties>
    <property name="jasper.version" value="5.5.15"/>
    <property name="sl4j.version" value="1.0.1"/>
    <property name="project.major.version" value="0"/>
    <property name="project.minor.version" value="0"/>
    <property name="project.micro.version" value="0"/>
  </properties>

  <project file="spi/project.xml"/>
  <project file="impl/project.xml"/>

  <project name="osm-http-app" basedir="war">
    <types>
      <type id="jar"/>
      <type id="war" alias="true"/>
    </types>
    <dependencies>
      <runtime>
        <include uri="artifact:jar:javax/servlet/servlet-api#2.5" tag="PUBLIC"/>
      </runtime>
    </dependencies>
  </project>

  <project file="server/project.xml"/>

  <project name="osm-http-test" basedir="test">
    <properties>
      <property name="project.javadoc.exclude" value="true"/>
    </properties>
    <types>
      <type id="jar" test="true"/>
    </types>
    <dependencies>
      <build>
        <include key="osm-http-server"/>
      </build>
      <test>
        <include ref="dpml/metro/dpml-metro-part"/>
        <include ref="org/apache/ant/ant-junit"/>
      </test>
    </dependencies>
  </project>

  <project file="express/project.xml"/>
  <project file="demo/project.xml"/>

</module>
