<?xml version="1.0" encoding="ISO-8859-1"?>
<module name="http" xmlns="link:xsd:dpml/lang/dpml-module#1.0">

  <properties>
    <property name="jasper.version" value="5.5.15"/>
    <property name="sl4j.version" value="1.0.1"/>
    <property name="project.major.version" value="0"/>
    <property name="project.minor.version" value="0"/>
    <property name="project.micro.version" value="0"/>
  </properties>

  <project name="osm-http-impl" basedir="impl">
    <info title="OSM HTTP">
      <description>Metro-based wrapped to the Jetty HTTP server.</description>
    </info>
    <types>
      <type id="jar"/>
    </types>
    <dependencies>
      <runtime>
        <include ref="dpml/metro/dpml-metro-model"/>
        <include ref="dpml/util/dpml-logging-api"/>
        <include ref="dpml/transit/dpml-transit-main"/>
        <include ref="org/mortbay/jetty/servlet-api-2.5" tag="PUBLIC"/>
        <include ref="org/mortbay/jetty/jetty-util"/>
        <include ref="org/mortbay/jetty/jsp-api-2.0"/>
        <include ref="org/mortbay/jetty/jetty"/>
        <include uri="artifact:jar:tomcat/jasper-runtime#${jasper.version}"/>
        <include uri="artifact:jar:tomcat/jasper-compiler#${jasper.version}"/>
        <include uri="artifact:jar:tomcat/jasper-compiler-jdt#${jasper.version}"/>
        <include uri="artifact:jar:commons-el/commons-el#1.0"/>
        <include uri="artifact:jar:org/slf4j/jcl104-over-slf4j#${sl4j.version}"/>
        <include uri="artifact:jar:org/slf4j/slf4j-jdk14#${sl4j.version}"/>
      </runtime>
      <test>
        <include ref="ant/ant-junit"/>
      </test>
    </dependencies>
  </project>

  <project name="osm-http-app" basedir="war">
    <types>
      <type id="jar"/>
      <type id="war" alias="true"/>
    </types>
    <dependencies>
      <runtime>
        <include ref="org/mortbay/jetty/servlet-api-2.5" tag="PUBLIC"/>
      </runtime>
    </dependencies>
  </project>

  <project file="server/project.xml"/>

  <project name="osm-http-test" basedir="test">
    <properties>
      <property name="project.javadoc.exclude" value="true"/>
    </properties>
    <dependencies>
      <build>
        <include key="osm-http-server"/>
      </build>
      <test>
        <include ref="dpml/transit/dpml-transit-main"/>
        <include ref="ant/ant-junit"/>
      </test>
    </dependencies>
  </project>

</module>
