<?xml version="1.0" encoding="ISO-8859-1"?>
<module name="demo" xmlns="dpml:library">

  <properties>
    <property name="project.major.version" value="1"/>
    <property name="project.minor.version" value="0"/>
    <property name="project.micro.version" value="0"/>
    <property name="persistence.unit.name" value="osm-db-demo"/>
  </properties>
  
  <types>
    <!--<type id="module" alias="true"/>-->
  </types>

  <project file="api/project.xml"/>
  <project file="unit/project.xml"/>
  <project file="impl/project.xml"/>

</module>
