<?xml version="1.0" encoding="ISO-8859-1"?>

<module name="tutorial">
   
  <types>
    <type id="module" alias="true"/>
  </types>
   
  <project name="osm-validation-resources" basedir="resources">
    <types>
      <type id="jar"/>
    </types>
    <dependencies>
      <include ref="dpml/transit/dpml-transit-main"/>
    </dependencies>
    <dependencies scope="test">
      <include ref="ant/ant-junit"/>
    </dependencies>
  </project>

  <project name="console-test" basedir="console" version="">
    <types>
      <type id="jar">
        <property name="project.jar.main.class" 
           value="testing.Demo"/>
      </type>
      <type id="plugin">
        <property name="project.plugin.class" 
           value="testing.Demo"/>
      </type>
    </types>
  </project>

</module>
