<?xml version="1.0" encoding="ISO-8859-1"?>
<module name="import" xmlns="link:xsd:dpml/lang/dpml-module#1.0" >

  <project name="acme-clock-api" basedir="api">
    <types>
      <type id="jar"/>
    </types>
    <dependencies>
      <build>
        <include ref="org/acme/customize"/>
      </build>
    </dependencies>
  </project>

  <project name="acme-clock-impl" basedir="clock">
    <types>
      <type id="jar"/>
      <component xmlns="link:xsd:dpml/lang/dpml-component#1.0" 
           type="org.acme.scheduler.SimpleClock"/>
    </types>
    <dependencies>
      <runtime>
        <include key="acme-clock-api"/>
      </runtime>
    </dependencies>
  </project>
  
  <project name="acme-clock-demo" basedir="demo">
    <types>
      <type id="jar"/>
      <component xmlns="link:xsd:dpml/lang/dpml-component#1.0"
           type="org.acme.demo.Demo">
        <parts>
          <component key="clock" uri="resource:part:org/acme/import/acme-clock-impl">
            <context>
              <entry key="format" value="h:mm a"/>
            </context>
          </component>
        </parts>
      </component>
    </types>
    <dependencies>
      <build>
        <include key="acme-clock-impl"/>
      </build>
      <runtime>
        <include key="acme-clock-api"/>
        <include ref="dpml/util/dpml-logging-api"/>
      </runtime>
      <test>
        <include ref="ant/ant-junit"/>
        <include ref="dpml/transit/dpml-transit-main"/>
      </test>
    </dependencies>
  </project>

</module>
